.corp-banner h1, .date-banner h2 {
  color: white;
}

.corp-banner:hover, .corp-banner:hover h1 {
  /*color: black;*/
}

.date-banner {
  /*height: 50px;*/
}

.date-banner h2 {
  margin: 0 auto;
  padding: 0 auto;
}

.corp-banner, .date-banner {
  padding: 0;
}

p {
  letter-spacing: .4px;
  padding: 0;
  margin: 0;
}

.addressBody {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

.imgLocation {
  margin: 10px;
}

.thead-dark {
  border-radius: 50px;
}

h4 {
  background-color: #007bff;
  border-radius: 4px;
  color: white;
}

.contact-num, .contact-mail {
  font-size: 20px;
  /*margin: 0 auto;*/
  /*margin-left: 80px;*/
  margin-bottom: 5px;
}

.date-banner {
  border-radius: 50px;
}

.contactHeader {
  padding-top: 20px;
  padding-bottom: 20px;
}

.addressHeader {
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phoneContainer {
  margin-right: 40px;
}

.phoneNumber {
  margin-left: 80px;
}

.phoneImg {
  padding-right: 60px;
}

.envelopeImg {
  padding-right: 40px;
}

.businessHoursBody tr {
  color: white;
  background: rgb(112, 112, 112);
}

.divider {
  height: 1px;
  background: rgb(211, 211, 211);
}

/*
.carousel-inner img {
  width:640px;
  height:360px;
}
.carousel {
  width:300px;
  height:360px;
  overflow: hidden;
}*/