/**************************************************
 * @author Vicky Mohammad
 * @description this css is used for global styling
 for all html files
 **************************************************/

 /* cursive fonts */
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Marck+Script|Pacifico|Sacramento');
/* 
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Marck Script', cursive;
*/

/* dont use black text use dark gray exept for headings, because its easy on th eye*/
/* its one of the rule for a good quality website, so default will be dark grey */

h1, p{
    color: #666;
}

.blueBackground{
    background-color: rgb(120, 195, 230) !important;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    overflow-x: hidden;
}

.centerContent{
    max-width: 50em;
    width:100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: 0;
    right: 0;
    text-align: center;
}

button:focus {
    outline:0;
}

.relativeContent{
    position: relative;
}

@media(max-width: 1200px){
    .centerMobile-12{
        max-width: 50em;
        width:100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media(max-width: 800px){
    .centerMobile-8{
        max-width: 50em;
        width:100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0;
        right: 0;
        text-align: center;
    }
}