/*import*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("http://fonts.googleapis.com/css?family=Lato:300,700");
/*main*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/*main index tab bar*/
.navbar{
    opacity: 1;
    display: table;
    top: 0;
    background-color: #e6e6e6;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}
/*button page*/
.navbar a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding-right: 28px;
    padding-left: 28px;
    border: solid #e6e6e6 1px;
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.navbar a:hover{
    color: #e6e6e6;
    background-color: black;
}
/*social icons*/
.social{
    top: 13.5px;
    position: absolute;
    z-index: 11;
    padding-left: 50px;
}
.social img{
    height: 20px;
    width: 20px;
}
/*content of the page*/
.content{
    z-index: 0;
}
/******************************************/
/*image content*/
.razer{
    z-index: -5;
    position: absolute;
    left: 0;
    top: 450;
    width: 241.8px; /*403px;*/
    height: 368.4px; /*614px;*/
}
.sidepencil{
    z-index: -5;
    position: absolute;
    right: 0;
    top: 800;
    width: 315px; /*630px;*/
    height: 381px; /*762px;*/
}
.notebook{
    z-index: -5;
    position: absolute;
    right: 0;
    top: 100;
    width: 236px;
    height: 392px;
}
/******************************************/
/*background mountain cover*/
.head{
    height: 100%;
    width: 100%;
    margin:auto;
    background: url(Assets/Mountain.jpg) no-repeat fixed 100%;
    display: table;
    top: 0;
    background-size: cover;
    z-index: -1;
}
/*inner table cell*/
.head .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
/*content of the table*/
.name{
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}
/*your name*/
.name h1{
    font-family: "Raleway", sans-serif;
    color: #F9F3F4;
    font-size: 500%;
    text-shadow: 2px 2px grey;
}
/*avatar for profile pic*/
.avatar-circle{
    border-radius: 50%;
    margin-bottom: -2em;
}
/*the button for resume*/
.btn{
    border-radius: 9px;
    font-family: "Oswald", sans-serif; 
    color: #F9F3F4;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #F9F3F4 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px grey;
    box-shadow: 2px 2px grey;
}
.btnBackground{
    background-color: white;
}
.btn:hover{
    opacity: 0.75;
}
/******************************************/
/*content and center*/
.intro, .education, .personalTable, .skillsTable{
    /*margin*/
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    /*text allign*/
    text-align: center;
    font-weight: 300;
    color: #666;
}
/*introduction*/
.intro{
    padding-top: 2em;
    padding-bottom: 3em;
    font-size: 110%;
}
/******************************************/
/*personal page*/
.personal{
    padding-top: 55px;
    padding-bottom: 80px;
    color: white;
    text-align: center;
    background: url(Assets/wood.jpg) repeat fixed 100%;
    z-index: -1;
}
.firstPersonal h1{
    color: white;
    margin-bottom: 45px;
    margin-right: 10%;
    font-style: "Lato", sans-serif;
}
.firstPersonal p{
    font-size: 120%;
    margin-right: 10%;
    padding: 1em;
    background-color: white;
    color: opacity: 0;
    border-radius: 10px;
}
.secondPersonal p{
    color: white;
    text-align: left;
}
/******************************************/
/*main white page body content*/
.bodyContent{
    z-index: 1;
    position: relative;
}
/*education*/
.education{
    padding-top: 2em;
}
/*experience*/
.experience{
    /*margin*/
    max-width: 50em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    /*text allign*/
    text-align: left;
    font-weight: 300;
    color: #666; 
}
/*row for experience*/
.row{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-left: 1em;
}
/*paragraph*/
.experience p, .education p{
    margin-top: -0.75em;
    font-size: 90%;
    color: #888;
}
/******************************************/
/*skills and contacts*/
.skills{
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background: url(Assets/Mountain.jpg) no-repeat fixed 100%;
    background-size: cover; 
    z-index: -1;    
}
.skillsTable div{
    opacity: 0.75;
    background-color: black;
    border-radius: 20px;
    margin: 1em; 
    padding: 2em;
}
.skills h1{
    opacity: 1;
    color: grey;
    margin-top: -5px; 
}
.skills p, .skills a{
    text-align: left;
    color: white;
    opacity: 1;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*contact*/
.contact a{
    text-decoration: none;
    color: white;
}
/*footer*/
.footer{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #888;
}
/*bull point for the experience list*/
li{
    margin-top: 5px;
    font-size: 110%;
}
/*divider*/
hr{
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
}
/******************************************/
/*universal constraint*/
@media screen and (max-width: 1500px){
    .images{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .social{
        display: none;
    }
}
@media screen and (max-width: 765px), screen and (max-height: 600px){
    .avatar-circle{
        margin-bottom: -1em;
    }
    .name h1 {
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
    p{
        font-size: 100%;
        line-height: 160%;
    }
}
@media screen and (max-width: 670px){
    table tr > *{
        display: block;
        text-align: center;
    }
    table tr {
        display: table-cell;
    }
    .skills p, .skills h1, .secondPersonal p, .skills a{
        text-align: center;
    }
    .firstPersonal h1, .firstPersonal p{
        margin-left: 10%;
    }

}
@media screen and (max-width: 600px){
    .navbar a{
        padding-right: 15px;
        padding-left: 15px;
    }S
}