.navbar.solid {
    background-color: #490D40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  
      .navbar-brand {
        color: #C57ED3;
        transition: color 1s ease 0s;
      }
  
      .navbar-nav {
  
         > li {
  
            > a {
              color: #C57ED3;
              transition: color 1s ease 0s;
            }
  
         } //end li
  
      } //end .navbar-nav
  
  }