/************************************************************
Name: Vicky Mohammad 
Date: May 31, 2017
Readme: This code is an CSS for the layout of my web resume 
************************************************************/

/*import*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");

/*main*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}
.centerContent{
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 300;
    color: #666;
}
/* remove the blue outlilne */
input:focus {
    outline:0;
}
button:focus {
    outline:0;
}
textarea:focus{
    outline:0;
}
.links{
    text-decoration: none;
    color: #666;
}
.links:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
/*main panel*/
#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
/*main index tab bar*/
.navbar{
    /* opacity: 0.80; */
    /* opacity: 1; */
    display: table;
    top: 0;
    /* background-color: black; */
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
    /* for the trans to solid on scroll */
    /* background-color: transparent; */
    transition: 1s ease 0s;
}
/*button page*/
.navbar a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-right: 28px;
    padding-left: 28px;
    /*border: solid #e6e6e6 1px;*/
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*fade*/
    transition: all 0.3s ease-out;
}
.navpage a:hover{
    color: black;
    background-color: white;
}
/*social icons*/
.social{
    top: 13.5px;
    position: absolute;
    z-index: 11;
    padding-left: 50px;
}
.social img{
    float: left;
    filter: invert(100%);
    height: 20px;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.social a{
    font-size: 0;
}
/*content of the page*/
.content a{
    z-index: 0;
}
/******************************************/
/*image content*/
.razer{
    z-index: -5;
    position: absolute;
    left: 0;
    top: 450;
    width: 241.8px; /*403px;*/
    height: 368.4px; /*614px;*/
}
.sidepencil{
    z-index: -5;
    position: absolute;
    right: 0;
    top: 800;
    width: 315px; /*630px;*/
    height: 381px; /*762px;*/
}
.notebook{
    z-index: -5;
    position: absolute;
    right: 0;
    top: 100;
    width: 236px;
    height: 392px;
}
/******************************************/
/*background mountain cover*/
.head{
    /* background: url(assets/Mountain.jpg) no-repeat fixed 100%; */
    /* darkened background < 1 is more less dark (blurredimg.gif)*/
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url(assets/blurredimg-compressed.gif) no-repeat fixed 100%;
    height: 100%;
    width: 100%;
    margin:auto;
    display: table;
    top: 0;
    background-size: cover;
    z-index: -1;
    /* transition-delay: all 1.5s ease-out; */
    /* transition-duration: 0.2s;
    transition: ease-in;
    transition-delay: 0.2s; */
}
/*inner table cell*/
.head .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
/*content of the table*/
.name{
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}
/*your name*/
.name h1{
    font-family: "Raleway", sans-serif;
    color: #F9F3F4;
    font-size: 500%;
    text-shadow: 2px 2px black;
}
/*avatar for profile pic*/
.avatar-circle{
    border-radius: 50%;
    margin-bottom: -2em;
}
/*the button for resume*/
.btn{
    border-radius: 9px;
    font-family: "Oswald", sans-serif; 
    color: #F9F3F4;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #F9F3F4 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px black;
    box-shadow: 2px 2px black;
    /*fade*/
}
.btn:hover{
    opacity: 0.55;
}
/******************************************/
/*content and center*/
.intro, .education, .personalTable, .skillsTable{
    /*margin*/
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    /*text allign*/
    text-align: center;
    font-weight: 300;
    color: #666;
}
/*introduction*/
.intro{
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 110%;
}
/*github giant logo that has links*/
.github{
    /*margin*/
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    /*text allign*/
    text-align: center;
    font-weight: 300;
    color: #666;
    padding-bottom: 1em;
}
/******************************************/
/*personal page*/
.personal{
    padding-top: 55px;
    padding-bottom: 80px;
    color: white;
    text-align: center;
    background: url(assets/wood.jpg) repeat fixed 100%;
    z-index: -1;
}
.firstPersonal h1{
    color: white;
    margin-bottom: 2em;
    margin-right: 10%;
    font-family: 'Cedarville Cursive', cursive;
}
.firstPersonal p{
    margin-right: 10%;
    padding: 1em;
    background-color: white;
    color: opacity;/*edited, it is supposed to be 0*/
    border-radius: 10px;
}
.secondPersonal p{
    color: white;
    text-align: left;
}
/******************************************/
/*main white page body content*/
.bodyContent{
    z-index: 1;
    position: relative;
}
/*education header*/
.educationHeader{
    /*margin*/
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    /*text allign*/
    text-align: center;
    font-weight: 300;
    color: #666;
    padding-bottom: 1em
}
/*education*/
.education{
    padding-top: 3em;
}
/*experience*/
.experience{
    /*margin*/
    max-width: 50em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    /*text allign*/
    text-align: left;
    color: #666; 
}
/*row for experience*/
.row{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-left: 1em;
}
/*paragraph*/
.experience p, .education p{
    margin-top: -0.75em;
    color: #888;
}
/******************************************/
/*skills and contacts*/
.skills{
    /* background: url(assets/Mountain.jpg) no-repeat fixed 100%; */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url(assets/macbook-table-compressed.jpg) no-repeat fixed 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background-size: cover; 
    z-index: -1;    
}
.skillsTable div{
    opacity: 0.80;
    background-color: black;
    border-radius: 20px;
    margin: 1em; 
    padding: 2em;
}
.skills h1{
    opacity: 1;
    color: grey;
    margin-top: -5px; 
}
.skills p{
    text-align: left;
    color: white;
    opacity: 1;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/******************************************/
/*contact*/
.contact{
    text-decoration: none;
    color: white;
}
/*popup*/
.overlay {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popinfo p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.popup {
    text-align: center;
    z-index: 21;
    right: 0;
    left: 0;
    margin: 10% auto;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    width: 250px;
    position: absolute;
    transition: all 1s ease-in-out;
}
.popup h2 {
    margin-top: 30px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    text-decoration: none;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    transition: all 0.5s ease-in-out;
}
.popup .close:hover {
    color: red
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
/******************************************/
/* email contact */
.emailContact{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url(assets/balloon.jpg) no-repeat fixed 100%;
    margin:auto;
    top: 0;
    background-size: cover;
    z-index: -1;
}
.inputSize {
    height: 30px;
    width: 90%;
    font-size: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: black;
    border-bottom-width: 1px !important;
  }
  .textareaSize{
    height: 10em;
    width: 90%;
    font-size: 100%;
    resize: none;
    border-color: black;
    border: none;
  }
  .ralewayFont{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
  .emailContainer{
    background-color: white;
    border-radius: 10px;
  }

/******************************************/
/*footer*/
.footer{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #888;
}
/*bull point for the experience list*/
li{
    margin-top: 5px;
    font-size: 110%;
}
/*divider*/
hr{
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
}
/******************************************/
/*universal constraint*/
@media screen and (max-width: 1400px){
    /*image content*/
    .razer{
        width: 157.17px;/*241.8px;*/
        height: 239.46px;/*368.4px;*/
    }
    .sidepencil{
        width: 204.75px;/*315px;*/
        height: 247.65px;/*381px;*/
    }
    .notebook{
        width: 153.4px;/*236px;*/
        height: 254.8px;/*392px;*/
    }
}
@media screen and (max-width: 1200px){
    .social{
        display: none;
    }
    .images{
        display: none;
    }

}
@media screen and (max-width: 900px), screen and (max-height: 800px){
    .avatar-circle{
        margin-bottom: -1em;
    }
    .name h1{
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
    p{
        font-size: 100%;
    }
}
@media screen and (max-width: 900px){
    /**************************/
    /*table*/
    table tr > *{
        display: block;
    }
    .skills p, .skills h1, .secondPersonal p{
        text-align: center;
    }
    .firstPersonal h1, .firstPersonal p{
        margin-left: 10%;
    }
}
@media screen and (max-width: 600px){
    .navbar a{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 90%;
    }
    .skills{
        font-size: 80%;
    }
    .avatar-circle{
        width: 100px;
        height: 100px;
    }
    /*make the cover stationary for mobile*/
    /* .head{
        height: 100%;
        width: 100%;
        margin:auto;
        background: url(assets/blurredimg.gif) no-repeat 100%;
        display: table;
        top: 0;
        background-size: cover;
        z-index: -1;
    }
    .skills{
        background: url(assets/macbook-table-compressed.jpg) no-repeat 100%;
        background-size: cover;
    } */
    .popup{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-height: 400px){
    p, h1, h2, li{
        font-size: 90%;
    }
    .navbar{
        position: initial;
        font-size: 90%;
    }
    .head{
        width: 100%;
        height: 500px;
    }
    .popup{
        margin-top: 10px;
    }
}
@media screen and (max-width: 400px){
    p, h1, h2, li{
        font-size: 90%;
    }
    .navbar a{
        padding-right: 5px;
        padding-left: 5px;
        font-size: 90%;
    }
    .name h1{
        font-size: 200%;
    }
}